{% extends 'layout.html' %}

{% block content %}

    <div>
        <a href="{{ url_for('main.home') }}" class="btn btn-info mb-4">Back</a>
        <ul class="list-group">
            {% if post != None %}
                <li class="list-group-item">
                    <p>{{ post.body }}</p>
                    <p>
                        <cite>&mdash; {{ post.user.email }}</cite>
                        <span class="float-right">
                            <small>{{ moment(post.date_created).fromNow() }}</small>
                        </span>
                    </p>
                </li>
            {% endif %}
        </ul>


    </div>

{% endblock content %}