{% extends 'layout.html' %}

{% block content %}

    <div>
        <h3>Register</h3>
        <hr>

        <form action="{{ url_for('auth.register') }}" method="post">
            <div class="form-group">
                <input type="text" placeholder="First Name" name="first_name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" name="last_name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Register" />
        </form>

    </div>

{% endblock content %}